@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color:lightgreen;
    text-decoration: none;
}

._container {
    margin: 400px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

._button {
    width: 10rem;
    height: 5rem;
    background-color:darkgrey;
    border-radius: 20px;
    border-color: transparent;
}

._button2 {
    width: 10rem;
    height: 5rem;
    background-color:darkcyan;
    border-radius: 5px;
    border-color: transparent;
}

.fa-heart {
    color: azure;
    font-size: 2.5rem;
}

.fa-face-smile {
    color: azure;
    font-size: 3rem;
}

.count {
    font-size: 2.8rem;
    color: red;
}

.fa-ghost {
    position: absolute;
    color: blue;
    font-size: 5rem;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.text {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color:black;
}