body {
    box-shadow: 0;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

._container {
    margin: 400px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

._button {
    width: 10rem;
    height: 5rem;
    background-color:darkgrey;
    border-radius: 20px;
    border-color: transparent;
}

._button2 {
    width: 10rem;
    height: 5rem;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    border-color: transparent;
}

.fa-heart {
    color: azure;
    font-size: 2.5rem;
}

.fa-face-smile {
    color: azure;
    font-size: 3rem;
}

.count {
    padding-left: .5rem;
    font-size: 3rem;
    color: red;
    opacity: 0;
}

.fa-ghost {
    position: absolute;
    color: blue;
    font-size: 5rem;
    opacity: 0;
    transform: translate(-50%, -50%);
}